.white{
    color: white;
}
.sec{
    height: 100%;
    padding-bottom: 50px;
    margin-bottom: 50px;
}
.round{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.img{
    height: 50px;
    width: 150px;
}
.btn{
    border-radius: 150px;
}
.top{
    background-color: #000000;
    height: 27vh;
}